body {
    /* background: url(http://i.imgur.com/qK42fUu.jpg); */
    /* background: rgba(26, 85, 202, 1); */
        /*https://images.unsplash.com/photo-1415369629372-26f2fe60c467);*/
    /* background-size: cover; */
    /* background-position: center;  */
    background: rgba(26, 85, 202, 1);
    max-width: 100%;
}

#first{
    background: rgba(26, 85, 202, 1);
    height: 650px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    color: white;
}

#name{
    text-align: center;
    padding-top: 12%;
    z-index: 1;
    position: relative;
}

.navbar{
    z-index: 1;
    position: relative;
}


#second{
    background: #FCFDFF;
    height: 300px;
    color: black;
    z-index: 1;
    position: relative;
}

#third{
    background: #E0E1E4;
    height: 400px;
    border-top: 1px solid #cccccc;
}

#projects{
    background: #FCFDFF;
    /* height: 800px; */
    border-top: 1px solid  #cccccc;

}

#skills{
    background: #E0E1E4;
    height: 400px;
    border-top: 1px solid #cccccc;

}

#certifications{
    background: #FCFDFF;
    height: 400px;
    border-top: 1px solid #cccccc;

}

#contact{
    background: #E0E1E4;
    height: 400px;
}

#footer{
  background: rgba(26, 85, 202, 1);
  height: 250px;
}

h1 {
	font-weight: 700;
	font-size: 5em;
    text-transform: uppercase;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#about{
    text-align: center;
    font-size: 45px;
    
}

.title{
    text-align: center;
    font-size: 37px;
}

.flexContainer { 
   
   
    display: flex;
  } 
  
  .left {
    flex-basis : 30%;
  }
  
  .right {
    flex-basis : 30%;
    float: right;
    text-align: right;
    padding-top: 2%;
  }

.education{
    padding-top: 4%;
     padding-left: 22%; 
}

.description{
    text-align: center;
     /* padding-top: 2%;  */
    font-size: 20px;
    color: grey;
}

.languages{
    padding-top: 5%;
    text-align: center;
}

.frameworks{
    padding-top: 2%;
    text-align: center;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
    
  }

  .slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
    max-width: 100%; 
  
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 10s; 
    max-width: 100%;
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1527356900876-cae61d8d8462?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
    animation-delay: 20s; 
    max-width: 100%;
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80);
    animation-delay: 30s; 
    max-width: 100%;
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1544847558-3ccacb31ee7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 40s; 
    max-width: 100%;
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

.slideshow-cover{
    opacity: 0.5;
}

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}